<h1 class="text-2xl font-semibold mb-8">Publicar vacante</h1>

<form [formGroup]="form" style="width: 500px">
  <label for="titulo">Titulo</label>
  <input
    type="titulo"
    id="titulo"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="titulo"
    placeholder="Se busca. . ."
    required
  />

  <label for="descripcion">Descripcion</label>
  <input
    type="text"
    id="descripcion"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="descripcion"
    placeholder="Trata sobre. . ."
    required
  />

  <label for="fecha_publicacion">Fecha publicacion</label>
  <input
    type="date"
    id="fecha_publicacion"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="fecha_publicacion"
    required
  />

  <label for="fecha_cierre">Fecha cierre</label>
  <input
    type="date"
    id="fecha_cierre"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="fecha_cierre"
    required
  />

  <label for="salario">Salario</label>
  <input
    type="number"
    id="salario"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="salario"
    required
  />

  <label for="remoto">Remoto</label>
  <input
    type="checkbox"
    id="remoto"
    class="border border-gray-300 text-sm rounded-lg ml-3 p-2.5 input"
    formControlName="remoto"
  />

  <label for="modalidad" class="block w-full">Modalidad</label>
  <select
    id="modalidad"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="modalidad"
  >
    <option value="fulltime">Tiempo completo</option>
    <option value="halftime">Mitad tiempo</option>
    <option value="temporal">Temporal</option>
    <option value="practicing">Practicante</option>
  </select>

  <label for="remoto">Ubicacion</label>
  <section style="display: flex; max-width: 500px; width: 100%; justify-content: space-between">
    <section style="width: 200px">
      <label for="estado">Estado</label>
      <select
        id="estado"
        class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
        (change)="obtenerCiudades()"
        [(ngModel)]="estadoSeleccionado"
        [ngModelOptions]="{ standalone: true }"
      >
        @for (estado of estados; track estado) {
        <option [value]="estado">{{ estado }}</option>
        }
      </select>
    </section>
    <section style="width: 200px">
      <label for="ciudad">Ciudad</label>
      <select
        id="ciudad"
        class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
        [(ngModel)]="ciudadSeleccionada"
        [ngModelOptions]="{ standalone: true }"
      >
        @for (ciudad of ciudadesDelEstadoSeleccinado; track ciudad) {
        <option [value]="ciudad">{{ ciudad }}</option>
        }
      </select>
    </section>
  </section>

  <label for="area_trabajo" class="block w-full">Area trabajo</label>
  <select
    id="area_trabajo"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="area_trabajo"
  >
    <option value="Consumer Durables">Consumo</option>
    <option value="Health Care">Salud</option>
    <option value="Finance">Finanzas</option>
    <option value="Basic Industries">Industrias</option>
    <option value="Technology">Tecnologia</option>
    <option value="Goverment">Govierno</option>
  </select>

  <label for="annos_experiencia">Años experiencia</label>
  <input
    type="number"
    id="annos_experiencia"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="annos_experiencia"
    required
  />

  <button
    type="button"
    class="bg-primary font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-8 mt-8 focus:outline-none"
    style="color: white"
    [disabled]="!habilitarBotonCrearVacante"
    (click)="crearVacante()"
  >
    Crear vacante
  </button>
</form>
