




<h1 class="text-2xl font-semibold mb-8 mt-8 ml-6">Recomendacion de vacantes</h1>




@if (vacantes_recomendadas.length != 0) {
    <p class="mb-8 ml-6">Estas son las vacantes recomedadas</p>
    
    <main class="lista-vacantes ml-10">
        @for (vacante of vacantes_recomendadas; track vacante.id) {
            <app-vacante-card 
                (click)="accionesPostularVacante(vacante.id)"
                [titulo]="vacante.titulo" 
                [descripcion]="vacante.descripcion" />
        }
    </main>
} @else {
    <h2 class="ml-6">Complete su perfil para acceder al servicio</h2>
}



