<h1 class="text-2xl font-semibold mb-8"> Editar perfil</h1>

<form [formGroup]="form" style="width: 500px">
  <label for="nombre">Nombre Completo</label>
  <input
    type="text"
    id="nombre"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="nombre"
    placeholder="John Doe"
    required
  />

  <label for="direccion">Dirección</label>
  <input
    type="text"
    id="direccion"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="direccion"
    placeholder="809 Summit Ave, Greensboro, Nebraska"
    required
  />

  <label for="numero_telefonico">Número telefónico</label>
  <input
    type="number"
    id="numero_telefonico"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="numero_telefonico"
    required
  />

  <label for="idiomas">Idiomas</label>
  <input
    type="text"
    id="idiomas"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="idiomas"
    placeholder="ingles B2"
  />

  <label for="habilidades">Habilidades y competencias</label>
  <input
    type="text"
    id="habilidades"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="habilidades"
    placeholder="trabajo en equipo, ..."
    required
  />

  <label for="intereses">Intereses</label>
  <input
    type="text"
    id="intereses"
    class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 input"
    formControlName="intereses"
    placeholder="computación, ..."
    required
  />

  <button
    type="button"
    class="bg-primary font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-8 mt-8 focus:outline-none"
    style="color: white"
    [disabled]="!habilitarBotonGuardarCambios"
  >
    Confirmar cambios
  </button>
</form>

